<div class="container">
  <div class="row">
    <div>
    <%= flash[:notice] %>
    </div>
    
    <div class="col-3">
      <%= render 'list', book: @book_new %>
    </div>

<div class="col-8 offset-md-1">
  <h1 class="my-3 ml-3">Book detail</h1>

    <div>
      <table class="table">
        <tr>
          <td><%= link_to user_path(@book.user) do %>
          <%= image_tag @book.user.get_profile_image(100,100) %>
          <% end %></td>
          <td><%= @book.title%></td>
          <td><%= @book.body %></td>
            <% if @book.user == current_user %>
          <td><button class="btn btn-success"><%= link_to "Edit", edit_book_path %></button></td>
          <td><button class="btn btn-danger"><%= link_to "Destroy", book_path(@book.id), method: :delete, "data-confirm" => "本当に消しますか？" %></button></td>
            <% end %>
        </tr>
      </table>
      </div>
    </div>
  </div>
</div>